@model Projekat123.Models.Forma
@{
    ViewBag.Title = "Rezultat";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<h2>.</h2>
<h2>.</h2>
<h2>.</h2>
<h2>.</h2>
<h2>.</h2>
<h2>Hvala vam na ukazanom poverenju: @Model.Ime @Model.Prezime</h2>
<h2>Vasa poruka je poslata administraciji i ona glasi:@Model.Poruka</h2>