

@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h6>Nasi proizvodi/usluge</h6>
                    <h4><em>U ponudi:</em></h4>
                    <div class="line-dec"></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Images/obuka.png" alt=""></span>
                                            Obuka
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Images/pansion.png" alt=""></span>
                                            Pansion
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Images/hrana.png" alt=""></span>
                                            Hrana
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Images/igracke.png" alt=""></span>
                                            Igracke
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <span class="icon"><img src="~/Images/oprema.png" alt=""></span>
                                            Oprema
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Paketi &amp; Vrste obuke</h4>
                                                            <p>
                                                                Vrste obuka :.
                                                            </p>
                                                            <div class="ticks-list">
                                                                <span><i class="fa fa-check"></i> Osnovna obuka</span> <span><i class="fa fa-check"></i> Srednja obuka</span> <span><i class="fa fa-check"></i> Napredna obuka</span>
                                                                <span><i class="fa fa-check"></i> Obuka za vojsku</span> <span><i class="fa fa-check"></i> Obuka za policiju</span> <span><i class="fa fa-check"></i> Ponasanje psa </span>
                                                            </div>
                                                            <p>Postoje vise vrsta obuka, ovo su neke od trenutno najprodavanijih.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Images/obuka1.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Pansion &amp; higijena</h4>
                                                            <p>
                                                               Pansion je prva stvar cime smo se krenuli baviti, cak i pre saznanja da cemo otvoriti pet shop. Panison je na maksimalnoj lestvici higijene i psi su tretirani kao kod kuce.
                                                            </p>
                                                            <div class="ticks-list">
                                                                <span><i class="fa fa-check"></i>Pansion za male pse </span> <span><i class="fa fa-check"></i> Pansion za velike pse</span> <span><i class="fa fa-check"></i> Pansion za macke</span>
                                                               
                                                            </div>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Images/pansion1.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Hrana &amp; Dostava</h4>
                                                            <p>
                                                                Nas petshop centar sadrzi najkvalitetniju hranu kako za male tako i za velike ljubimce.
                                                            </p>
                                                            <div class="ticks-list">
                                                                <span><i class="fa fa-check"></i> Proizvodjac: Monge</span> <span><i class="fa fa-check"></i> Proizvodjac: Energy</span> <span><i class="fa fa-check"></i> Proizvodjac: Gemon</span>
                                                                <span><i class="fa fa-check">Proizvodjac: oasy </i> </span> <span><i class="fa fa-check"></i> I mnogo drugih</span>
                                                            </div>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Images/hrana1.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Igracke &amp; oprema za trening</h4>
                                                            <p>
                                                                Imamo preko 1000 vrsta igracaka.
                                                            </p>
                                                            <div class="ticks-list">
                                                                <span><i class="fa fa-check"></i> Igracke za male pse</span> <span><i class="fa fa-check"></i> Igracke za velike pse</span> <span><i class="fa fa-check"></i> Povodci</span>
                                                                <span><i class="fa fa-check"></i> Rukav</span> <span><i class="fa fa-check"></i> Odela</span> <span><i class="fa fa-check"></i> Ostala oprema i igracke</span>
                                                            </div>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Images/igracke1.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="left-text">
                                                            <h4>Oprema</h4>
                                                            <p>
                                                               Ostala oprema.
                                                            </p>
                                                            <div class="ticks-list">
                                                                <span><i class="fa fa-check"></i> Rukav</span> <span><i class="fa fa-check"></i> Nogavica</span> <span><i class="fa fa-check"></i> Full odelo</span>
                                                                <span><i class="fa fa-check"></i> Half odelo</span> <span>
                                                            </div>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 align-self-center">
                                                        <div class="right-image">
                                                            <img src="~/Images/oprema1.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



